* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 66px 84px;
  background: linear-gradient(180deg, #052F46 0%, #1E253D 100%), #302C42;
  color: #fff;
}

@media screen and (max-width: 768px) {
  body {
    margin: 14px 24px;
  }
}


nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.navbar_center {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.navbar_center a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.navbar_right {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  text-transform: uppercase;
}

.navbar_right a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  border-radius: 40px;
}

.navbar_right_contact {
  /* padding: 17px 34px; */
  padding: 10px 16px;
  outline: 2px solid #fff;

}

.navbar_right_join {
  padding: 10px 16px;
  background: #FF8B92;
  box-shadow: 0px 0px 29px #FF3F84;
  color: #343045;
}

.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 14px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.hero__title {
  font-weight: 700;
  /* font-size: 46px; */
  /* line-height: 56px; */
  backdrop-filter: blur(10px);
  font-size: 26px;
  line-height: 36px;
}

.hero__title span {
  color: #49FFB3;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hero__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.hero__cta {
  align-self: center;

}

.hero__cta button {
  background: #FF8B92;
  border-radius: 40px;
  border: none;
  padding: 4px 23px;
  color: #343045;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

.hero_cta_img {
  display: none;
}

.hero__image {
  display: none;
}

/* ******************** mindplex section ****************** */
.mindplex_section {
  margin-top: 25px;
  background: linear-gradient(180deg, rgba(67, 61, 96, 0.25) 0%, rgba(73, 255, 179, 0.25) 100%);
  box-shadow: 0px 4px 4px #002229;
  border-radius: 26px;
  padding: 10px 3px;
}

.mindplex_section__image {
  display: none;
}

.mindplex_section__text {
  text-align: center;
}

.mindplex_section__text h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.mindplex_section__text h5 {
  font-weight: 300;
  margin: 10px 0;
  font-size: 16px;
  line-height: 27px;
}

.mindplex_section__line {
  width: 90%;
}

.mindplex_section__text p {
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
}

.our_ai_section__header,
.card_grid_section__header {
  text-align: center;
}

.our_ai_section {
  margin: 40px 0;
}

.our_ai_section__header h1 {
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}

.our_ai_section__header p {
  font-weight: 300;
  font-size: 16px;
  line-height: 44px;
}

.our_ai_section__header img {
  width: 90%;
}

.our_ai_section__cards,
.card_grid_section__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin: 14px 0;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
  padding: 24px;
  background: linear-gradient(180deg, rgba(67, 61, 96, 0.25) 0%, rgba(73, 255, 179, 0.25) 100%);
  border-radius: 40px;
}

.card h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.card p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.join_section {
  margin-bottom: 52px;
}

.join_section__content h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.join_section__content p {
  font-weight: 300;
  font-size: 26px;
  line-height: 44px;
}

.join_section__image p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.join_section__content_wrapper {
  text-align: center;
}

.join_section_btn {
  background: #FF8B92;
  box-shadow: 0px 0px 29px #FF2358;
  border-radius: 40px;
  border: none;
  width: 100%;
  padding: 8px;
  margin-top: 25px;
  color: #343045;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}


.card_grid_section__header h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.card_grid_section__header p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.card_grid_section__cards .card {
  background: linear-gradient(180deg, rgba(67, 61, 96, 0.25) 0%, rgba(73, 255, 179, 0.25) 100%);
  border-radius: 17px;
  min-height: 388px;
}

.Mindplex_token_image {
  max-width: 70px;
  max-height: 53px;
  align-self: center;
}

.card_grid_section__cards .card {
  font-size: 20px;
}

.card_grid_section__cards .card h3 {
  font-weight: 700;
  font-size: 30px;
}