<section class="join_section">
    <div class="join_section__content_wrapper">
        <div class="join_section__content">
            <h2>Mindplexes</h2>
            <p>Join Our Network</p>
            <img src="/line.png" alt=" " class="mindplex_section__line" />
        </div>
        <div class="join_section__image">
            <p>
                Embrace the future of media with Mindolex. Be part of a vibrant
                community where creativity knows no bounds. and innovation takes
                center stage. logether, lets reshape the media landscane,
                unleash the nower of decentralized and democratic media, and
                pave the way for a brighter, more engaging future. Connect with
                us today and embark on a transformative journey with Mindplex.
            </p>
        </div>
        <button class="join_section_btn">Join Us</button>
    </div>
</section>
<style>
    .join_section {
        margin-bottom: 52px;
    }

    .join_section__content h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }

    .join_section__content p {
        font-weight: 300;
        font-size: 26px;
        line-height: 44px;
    }

    .join_section__image p {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
    }

    .join_section__content_wrapper {
        text-align: center;
    }

    .join_section_btn {
        background: #ff8b92;
        box-shadow: 0px 0px 29px #ff2358;
        border-radius: 40px;
        border: none;
        width: 100%;
        padding: 8px;
        margin-top: 25px;
        color: #343045;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
    }
</style>
