---
import CardLayout from "../../layouts/CardLayout.astro";
const tokenCardsContent = await Astro.glob("../../content/mindplexTokens/*.md");
---

<section class="card_grid_section" id="mindplexTokens">
  <div class="heading_container">
    <div class="card_grid_section__header">
      <img src="/line.svg" alt=" " />
      <h2>Mindplex Tokens</h2>
      <img src="/line.svg" alt=" " />
    </div>
    <p>
      Mindplex overates based on a carefully designed tokenomic system involving
      a liquid cryptographic token (MPX) which is used to incentivize good
      content and good conduct, and a non-liquid soulbound token, the Mindplex
      Reputation Token MPXR), which is used to measure and guanitfy the weight
      of users credibilitv.
    </p>
  </div>
  <CardLayout>
    {
      tokenCardsContent.map((card) => {
        const { imageSource, title, description } = card.frontmatter;
        return (
          <div class="card">
            <img
              src={imageSource}
              class="Mindplex_token_image"
              alt="Card image description"
            />
            <h2>{title}</h2>
            <p>{description}</p>
          </div>
        );
      })
    }
  </CardLayout>
</section>
<style>
  .heading_container {
    margin-bottom: 60px;
  }
  .card_grid_section__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 34px;
  }
  .card_grid_section__header img:first-child {
    transform: rotate(180deg);
  }
  .card_grid_section__header img {
    width: 100%;
    max-width: 210px;
  }
  .card_grid_section__header h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    line-height: 44px;
  }

  .card_grid_section__header p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
  }

  .card {
    padding: 18px;
    background: linear-gradient(
      180deg,
      rgba(67, 61, 96, 0.25) 0%,
      rgba(73, 255, 179, 0.25) 100%
    );
    border-radius: 17px;
    min-height: 388px;
    font-size: 20px;
    width: 100%;
  }

  .Mindplex_token_image {
    max-width: 70px;
    max-height: 53px;
    align-self: center;
  }

  .card h3 {
    font-weight: 700;
    font-size: 26px;
  }
  @media screen and (min-width: 952px) {
    .card {
      border-radius: 17px;
      min-height: 388px;
      font-size: 20px;
      width: 100%;
      padding: 18px;
      background: linear-gradient(
        180deg,
        rgba(67, 61, 96, 0.25) 0%,
        rgba(73, 255, 179, 0.25) 100%
      );
      background-size: 400%;
      border-radius: 0.6rem;
      background-position: 100%;
      transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }

    .card > a {
      width: 100%;
      text-decoration: none;
      line-height: 1.4;
      padding: 1rem 1.3rem;
      border-radius: 0.35rem;
      color: #111;
      background-color: white;
      opacity: 0.8;
    }
    .card h2 {
      font-weight: 700;
      font-size: 26px;
      margin: 0;
      font-size: 1.25rem;
      transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    p {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
    .card:is(:hover, :focus-within) {
      background-position: 0;
      background-image: var(--accent-gradient);
    }
    .card:is(:hover, :focus-within) h2 {
      color: rgb(var(--accent));
    }

    .Mindplex_token_image {
      max-width: 70px;
      max-height: 53px;
      align-self: center;
      margin-bottom: 10px;
    }

    @media screen and (min-width: 952px) {
      .card {
        /* width: 450px; */
      }
    }
  }
</style>
