---
import CardLayout from "../../layouts/CardLayout.astro";
---

<section class="card_grid_section">
    <div class="heading_container">
        <div class="card_grid_section__header">
            <img src="/line.svg" alt=" " />
            <h2>Mindplex Tokens</h2>
            <img src="/line.svg" alt=" " />
        </div>
        <p>
            "Mindplex overates based on a carefully designed tokenomic system
            involving a liquid cryptographic token (MPX) which is used to
            incentivize good content and good conduct, and a non-liquid
            soulbound token, the Mindplex Reputation Token MPXR), which is used
            to measure and guanitfy the weight of users credibilitv.
        </p>
    </div>
    <CardLayout>
        <div class="card">
            <img
                src="/utilityIcon.png"
                class="Mindplex_token_image"
                alt="Card image description"
            />
            <h2>Utility Token</h2>
            <p>
                MPX token will enable users to order paid content or tip content
                creators. It is the key to access our Al services and used as a
                memebrship bage and voting power in governance procidures,
            </p>
        </div>
        <div class="card">
            <img
                src="/reputationIcon.png"
                class="Mindplex_token_image"
                alt="Card image description"
            />
            <h2>Reputation Token</h2>
            <p>
                MPXR token is a soulbound token that can be earned only through
                interaction. MPXR is used to measure the reputation of users and
                content reputation it is a qualty guanother ot interaction, it
                is the most important weight ot votes, it is alwas locked on the
                Mindplex Keputation escrow.
            </p>
        </div>

        <div class="card">
            <img
                src="/chainIcon.png"
                class="Mindplex_token_image"
                alt="Card image description"
            />
            <h2>Multi Chain Token</h2>
            <p>MPX token works on Cardano and Ethereum chains</p>
        </div>
        <div class="card">
            <img
                src="/stakingIcon.png"
                class="Mindplex_token_image"
                alt="Card image description"
            />
            <h2>Staking</h2>
            <p>anyone can stake MPX and we compensate handsomely</p>
        </div>
        <div class="card">
            <img
                src="/governanceIcon.png"
                class="Mindplex_token_image"
                alt="Card image description"
            />
            <h2>Governacne and Voting</h2>
            <p>
                Mindplex tokenomics is desinged to mitigate the current plague
                in DAOs where the rich bu tokens and win the vote. Here the
                soulbound token MPXR, is how we guarnatee decentralization. The
                number of votes a community member has is proportional to tIP,
                where I is the balance ot MPX tokens weighted by the balance of
                MPXR after normalization tokens, and fix is a function defined<br
                />
                as: f(x) = x,<br />
                for x : T f(x) = T + sqrt(x-T), for x › T with T = XXX<br />
            </p>
        </div>
        <div class="card">
            <img
                src="/ecosystemIcon.png"
                class="Mindplex_token_image"
                alt="Card image description"
            />
            <h2>Ecosystem Airdrops</h2>
            <p>
                Nearly 30% of the MPX token is allocated to build the Mindplex
                ecosystem rewarding Cotnent creators, Audiences, volunteers,
                moderators, and media rdlcriels
            </p>
        </div>
    </CardLayout>
</section>
<style>
    .heading_container {
        margin-bottom: 60px;
    }
    .card_grid_section__header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 22px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 34px;
    }
    .card_grid_section__header img:first-child {
        transform: rotate(180deg);
    }
    .card_grid_section__header img {
        width: 100%;
        max-width: 210px;
    }
    .card_grid_section__header h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 26px;
        line-height: 44px;
    }

    .card_grid_section__header p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
    }

    .card {
        border-radius: 17px;
        min-height: 388px;
        font-size: 20px;
        width: 100%;
        padding: 18px;
        background: linear-gradient(
            180deg,
            rgba(67, 61, 96, 0.25) 0%,
            rgba(73, 255, 179, 0.25) 100%
        );
        background-size: 400%;
        border-radius: 0.6rem;
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }

    .card > a {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: 1rem 1.3rem;
        border-radius: 0.35rem;
        color: #111;
        background-color: white;
        opacity: 0.8;
    }
    .card h2 {
        font-weight: 700;
        font-size: 26px;
        margin: 0;
        font-size: 1.25rem;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    p {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
    .card:is(:hover, :focus-within) {
        background-position: 0;
        background-image: var(--accent-gradient);
    }
    .card:is(:hover, :focus-within) h2 {
        color: rgb(var(--accent));
    }

    .Mindplex_token_image {
        max-width: 70px;
        max-height: 53px;
        align-self: center;
        margin-bottom: 10px;
    }

    @media screen and (min-width: 952px) {
        .card {
            /* width: 450px; */
        }
    }
</style>
