<!-- <section class="mindplex_section" id="about">
  <div class="mindplex_section__image">
    <img src="/mindplex_ai.png" alt="Image description" />
  </div>
  <div class="mindplex_section__text">
    <h1>MINDPLEX</h1>
    <h5>WHERE THE FUTURE IS [SUR]REAL</h5>
    <img src="/line.svg" alt=" " class="mindplex_section__line" />
    <p>
      Mindplex is a ground-breaking Al technology project that offers a
      comprehensive suite of Al tools and services specifically designed for the
      media industry. Our platform operates as a membership network where
      members actively guide and contribute to the content creation process.
      With Mindplex, we are reimagining the future of media by combining
      cutting-edge concepts, blockchain tokens, and an innovative reputation
      system".
    </p>
  </div>
</section>
<style>
  .mindplex_section {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    background: linear-gradient(
      180deg,
      rgba(67, 61, 96, 0.25) 0%,
      rgba(73, 255, 179, 0.25) 100%
    );
    box-shadow: 0px 4px 4px #002229;
    border-radius: 26px;
    padding: 10px 3px;
  }
  .mindplex_section__image {
    margin: auto;
  }
  .mindplex_section__image img {
    width: 100%;
    max-width: 260px;
  }
  .mindplex_section__text {
    text-align: center;
  }
  .mindplex_section__text h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
    padding-left: 11px;
  }
  .mindplex_section__text h5 {
    font-weight: 300;
    margin: 10px 0;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    padding-left: 11px;
  }
  .mindplex_section__line {
    width: 90%;
    margin-bottom: 35px; /*mine*/
  }
  .mindplex_section__text p {
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    padding-left: 14px;
    padding-right: 10px;
    padding-bottom: 27px;
  }
  @media screen and (min-width: 952px) {
    .mindplex_section__image img {
      width: auto;
      max-width: fit-content;
    }
    .mindplex_section {
      flex-direction: row;
      align-items: center;
    }
    .mindplex_section__text {
      text-align: left;
      padding: 61px;
    }
    .mindplex_section__text h5 {
      font-size: 30px;
    }
    .mindplex_section__text p {
      font-size: 19px;
    }
    .mindplex_section__line {
      width: 61%;
    }
  }
</style> -->
<section class="mt-6 flex items-center " id="about">

    <img
      src="/mindplex_ai.png"
      alt="Image description"
      class="hidden max-w-xl h-[640px] lg:block z-10 "
    />
  

  <div
    class="text-center max-w-4xl lg:-ml-48 lg:pl-48 md:text-left md:p-[61px] bg-gradient-to-b from-[rgba(67,61,96,0.25)] to-[rgba(73,255,179,0.25)] shadow-[0_4px_4px_#002229] rounded-[26px] p-[10px_3px]"
  >
    <h1 class="font-bold text-[36px] leading-[44px] text-left pl-[11px]">
      MINDPLEX
    </h1>
    <h5
      class="font-light my-[10px] text-[16px] leading-[27px] text-left pl-[11px] md:text-[30px]"
    >
      WHERE THE FUTURE IS [SUR]REAL
    </h5>
    <img src="/line.svg" alt=" " class="w-[90%] mb-[35px] md:w-[61%]" />
    <p
      class="font-light text-[16px] leading-[27px]  text-left px-[14px_10px] pb-[27px] md:text-[19px]"
    >
      Mindplex is a ground-breaking AI technology project that offers a
      comprehensive suite of AI tools and services specifically designed for the
      media industry. Our platform operates as a membership network where
      members actively guide and contribute to the content creation process.
      With Mindplex, we are reimagining the future of media by combining
      cutting-edge concepts, blockchain tokens, and an innovative reputation
      system".
    </p>
  </div>
</section>
