<section class="mindplex_section" id="about">
  <div class="mindplex_section__image">
    <img src="/mindplex_ai.png" alt="Image description" />
  </div>
  <div class="mindplex_section__text">
    <h1>MINDPLEX</h1>
    <h5>WHERE THE FUTURE IS [SUR]REAL</h5>
    <img src="/line.svg" alt=" " class="mindplex_section__line" />
    <p>
      Mindplex is a groundbreaking Al technology project that offers a
      comprehensive suite of Al tools and services specifically designed for the
      media industry. Our platform operates as a membership network, where
      members actively guide and contribute to the content creation process.
      With Mindplex, we are reimagining the future of media by combining
      cutting-edge concepts, blockchain tokens, and an innovative reputation
      system.
    </p>
  </div>
</section>
<style>
  .mindplex_section {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    background: linear-gradient(
      180deg,
      rgba(67, 61, 96, 0.25) 0%,
      rgba(73, 255, 179, 0.25) 100%
    );
    box-shadow: 0px 4px 4px #002229;
    border-radius: 26px;
    padding: 10px 3px;
  }
  .mindplex_section__image {
    margin: auto;
  }
  .mindplex_section__image img {
    width: 100%;
    max-width: 260px;
  }
  .mindplex_section__text {
    text-align: center;
  }
  .mindplex_section__text h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
    padding-left: 11px;
  }
  .mindplex_section__text h5 {
    font-weight: 300;
    margin: 10px 0;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    padding-left: 11px;
  }
  .mindplex_section__line {
    width: 90%;
    margin-bottom: 35px; /*mine*/
  }
  .mindplex_section__text p {
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    padding-left: 14px;
    padding-right: 10px;
    padding-bottom: 27px;
  }
  @media screen and (min-width: 952px) {
    .mindplex_section__image img {
      width: auto;
      max-width: fit-content;
    }
    .mindplex_section {
      flex-direction: row;
      align-items: center;
    }
    .mindplex_section__text {
      text-align: left;
      padding: 61px;
    }
    .mindplex_section__text h5 {
      font-size: 30px;
    }
    .mindplex_section__text p {
      font-size: 19px;
    }
    .mindplex_section__line {
      width: 61%;
    }
  }
</style>
