<section class="mt-14 flex flex-col lg:flex-row items-center" id="about">
  <img
    src="/mindplex_ai.png"
    alt="Image description"
    class="max-h-52 max-w-sm lg:block z-10 lg:max-w-xl lg:max-h-[640px]"
  />

  <div
    class="text-center max-w-6xl lg:-ml-48 lg:px-36 lg:py-20 md:text-left md:p-[61px] bg-gradient-to-b from-[rgba(67,61,96,0.25)] to-[rgba(73,255,179,0.25)] shadow-[0_4px_4px_#002229] rounded-[26px] p-[10px_3px]"
  >
    <h1
      class="font-bold text-[36px] leading-[44px] md:text-left pl-[11px] text-center"
    >
      MINDPLEX
    </h1>
    <h5
      class="font-light my-[10px] text-[16px] leading-[27px] text-center md:text-left pl-[11px] md:text-[30px]"
    >
      WHERE THE FUTURE IS [SUR]REAL
    </h5>
    <img src="/line.svg" alt=" " class="w-[90%] mb-[35px] md:w-[61%]" />
    <p
      class="font-light px-1 text-[16px] leading-[27px] text-left md:px-[14px_10px] pb-[27px] md:text-[19px]"
    >
      Mindplex is a ground-breaking AI technology project that offers a
      comprehensive suite of AI tools and services specifically designed for the
      media industry. Our platform operates as a membership network where
      members actively guide and contribute to the content creation process.
      With Mindplex, we are reimagining the future of media by combining
      cutting-edge concepts, blockchain tokens, and an innovative reputation
      system.
    </p>
  </div>
</section>
