---
import CardLayout from "../../layouts/CardLayout.astro";
const tokenCardsContent = await Astro.glob("../../content/mindplexTokens/*.md");
---

<section class="card_grid_section" id="mindplexTokens">
  <div class="heading_container">
    <div
      class="flex flex-row items-center justify-center gap-6 w-full overflow-hidden mb-8 max-w-5xl mx-auto"
    >
      <img
        src="/line.svg"
        alt=" "
        class="transform rotate-180 w-full max-w-sm"
      />
      <h2 class="text-3xl uppercase font-semibold min-w-max text-center">
        Mindplex Tokens
      </h2>
      <img src="/line.svg" alt=" " class="w-full max-w-sm" />
    </div>
    <p
      class="text-white font-montserrat text-sm font-normal leading-5 mb-12 px-12 max-w-6xl mx-auto"
    >
      Mindplex operates based on a carefully designed tokenomics system
      involving a liquid cryptographic token (MPX) which is used to incentivize
      good content and good conduct, and a non-liquid soulbound token, the
      Mindplex Reputation Token (MPXR), which is used to measure and quantify
      the weight of users credibility.
    </p>
  </div>
  <CardLayout>
    {
      tokenCardsContent.map((card) => {
        const { imageSource, title, description, color } = card.frontmatter;
        return (
          <div
            class={`card ${color} flex flex-col mb-10 px-8 py-7 justify-evenly rounded-3xl h-[598px] max-w-[367px] text-white text-lg md:text-base`}
          >
            <h2 class="text-2xl font-semibold uppercase text-left mb-5 ">
              {title}
            </h2>
            <img src={imageSource} class=" w-full h-full" />
            <img src="/icons/plus-icon.svg" class=" w-8 self-end" />
          </div>
        );
      })
    }
  </CardLayout>
</section>
