---
import CardLayout from "../../layouts/CardLayout.astro";
const cardContent = await Astro.glob("../../content/ourAi/*.md");
---

<section class="our_ai_section my-32" id="ourAi">
  <div class="our_ai_section__header flex flex-col gap-3">
    <h1 class="text-4xl font-bold uppercase mb-4">Our AI</h1>
    <p class="font-light text-3xl">Powered Media Solutions.</p>
    <img src="/line.svg" alt="line" class="mb-6 w-64" />
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      cardContent.map((card) => {
        const { title, image, description } = card.frontmatter;
        return (
          <div class="card cursor-pointer transition-all ease-in-out duration-300 bg-black bg-opacity-25 rounded-3xl flex justify-center items-center relative max-w-sm min-h-[24rem]">
            <div class=" bg-no-repeat bg-center opacity-20 bg-cover w-full h-full absolute">
              <img src={image} class="w-full h-full card-img" />
            </div>

            <div class="card-heading flex justify-center items-center z-50">
              <h2 class=" text-3xl font-bold uppercase mb-4 w-fit text-center ">
                {title}
              </h2>
            </div>
            <div class="card-description text-white opacity-0  transition-opacity duration-300 ease-in-out absolute bottom-5 left-5 right-5">
              <h2 class="text-xl mx-auto font-bold uppercase mb-4 w-fit text-center ">
                {title}
              </h2>
              <hr class="w-1/2 mx-auto mb-4 bg-[#B7E8E5]" />
              <p class="text-sm">{description}</p>
            </div>
          </div>
        );
      })
    }
  </div>
</section>

<style>
  .card:hover {
    height: auto;
  }
  .card:hover .card-heading,
  .card:hover .card-img {
    display: none;
  }
  .card:hover .card-description {
    opacity: 1;
  }
</style>
