<!-- <div class="roadmap">
  <h1>Roadmap</h1>
  <img src="/line.svg" alt="line" />

  <img src="/Roadmap-min.png" alt="Roadmap" />
</div>
<style>
  .roadmap,
  .card_grid_section__header {
    text-align: center;
  }

  .roadmap {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .roadmap h1 {
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: initial;
    margin-bottom: 15px;
  }
</style> -->
