---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Blog/Hero.astro";
import CardLayout from "../layouts/CardLayout.astro";
---

<Layout title="Blog">
  <Hero />
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam ad
    sequi molestiae dignissimos ex dolor earum autem vel distinctio optio
    repudiandae voluptas expedita consequuntur illum nisi, laborum at,
    consequatur aut?
  </p>
</Layout>
