---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Mindplex from "../components/sections/Mindplex.astro";
import MindplexTokens from "../components/sections/MindplexTokens.astro";
import Joinus from "../components/sections/Joinus.astro";
import OurAi from "../components/sections/OurAi.astro";
import OurTeam from "../components/sections/OurTeam.astro";
---

<Layout title="Mindplex">
  <Navbar />
  <main>
    <Hero />
    <Mindplex />
    <OurAi />
    <Joinus />
    <MindplexTokens />
    <OurTeam />
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: 21px;
  }

  @media screen and (min-width: 600px) {
    main {
      margin: 81px;
      max-width: 1655px;
    }
  }
  @media screen and (min-width: 1800px) {
    main {
      margin: auto;
    }
  }
</style>
