<footer id="footer" class="">
    <div class="footer-wrapper">
        <div class="top-footer-content">
            <div class="left-footer-content">
                <img
                    src="https://magazine.mindplex.ai/wp-content/themes/Mindplex-Theme/assets/header/mindplexTxt.png"
                    alt="Logo"
                    class="footer-logo"
                />
                <p class="footer-desc">
                    Mindplex is a magazine dedicated to the rapidly unfolding
                    future, a platform to enable our community to share and
                    discuss futurist content, and a showcase for AI tools to
                    improve the media experience. Join us now and help create
                    the future of digital media!
                </p>
            </div>

            <div class="center-footer-content">
                <h1>Quick links</h1>
                <div>
                    <ul>
                        <li></li>
                        <li
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217 page_item"
                        >
                            <a href="https://magazine.mindplex.ai/terms/"
                                >Terms and Privacy</a
                            >
                        </li>
                        <li
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-220 page_item"
                        >
                            <a href="https://magazine.mindplex.ai/news/">News</a
                            >
                        </li>
                        <li
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221 page_item"
                        >
                            <a href="https://magazine.mindplex.ai/coming-soon/"
                                >Content Factory</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div class="center-footer-content">
                <h1>About us</h1>
                <div>
                    <ul>
                        <li class=""></li>
                        <li
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-194 page_item"
                        >
                            <a href="https://magazine.mindplex.ai/faq/">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-footer-content">
                <h1>Contact</h1>
                <div>
                    <ul>
                        <li
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-206 page_item"
                        >
                            <a href="/coming-soon/?type=newsletter"
                                >Newsletter</a
                            >
                        </li>
                        <li
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213 page_item"
                        >
                            <a
                                href="https://magazine.mindplex.ai/contact-editors/"
                                >Contact Editors</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-footer-content">
            <p class="footer-copy">
                © <span>2023</span> Mindplex all rights reserved
            </p>
            <div class="social-icons">
                <a href="https://twitter.com/Mindplex_AI" target="_blank">
                    <img
                        src="https://magazine.mindplex.ai/wp-content/themes/Mindplex-Theme/assets/footer/twitter.svg"
                        alt="twitter"
                    />
                </a>
                <a href=" https://www.facebook.com/MindplexAI" target="_blank">
                    <img
                        src="https://magazine.mindplex.ai/wp-content/themes/Mindplex-Theme/assets/footer/facebook.svg"
                        alt="facebook"
                    />
                </a>
                <a
                    href="https://www.youtube.com/channel/UCUwdBITXX-aDXgt2ZmBD-IA"
                    target="_blank"
                >
                    <img
                        src="https://magazine.mindplex.ai/wp-content/themes/Mindplex-Theme/assets/footer/youtube.svg"
                        alt="youtube"
                    />
                </a>

                <a
                    href="https://www.linkedin.com/company/79915299/"
                    target="_blank"
                >
                    <img
                        src="https://magazine.mindplex.ai/wp-content/themes/Mindplex-Theme/assets/footer/linkedin.svg"
                        alt="linkedin"
                        width="20px"
                        style="padding-bottom: 5px"
                    />
                </a>
                <a href="https://t.me/mindplex_ai" target="_blank">
                    <img
                        src="https://magazine.mindplex.ai/wp-content/themes/Mindplex-Theme/assets/footer/telegram.svg"
                        alt="telegram"
                    />
                </a>
            </div>
        </div>
    </div>
</footer>
<style>
    .center-footer-content ul,
    .right-footer-content ul {
        padding: 0;
    }
    .footer-wrapper {
        color: var(--color-white-universal);
        padding: 30px 30px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        flex-direction: column;
        padding-bottom: 0;
    }

    .top-footer-content {
        padding-bottom: 27px;
        border-bottom: 1px solid var(--color-gray-200);
        display: flex;
        flex-wrap: wrap;
        min-width: 250px;
    }

    .left-footer-content {
        display: flex;
        flex-direction: column;
        flex: 2;
    }

    .top-footer-content > * {
        margin-right: 10px;
    }

    .footer-logo {
        margin-bottom: 21px;
        width: 100px;
    }

    .footer-desc {
        color: rgba(168, 164, 164, 1);
        font-size: 0.8rem;
        max-width: 533px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    .center-footer-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 200px;
    }

    .center-footer-content h1,
    .right-footer-content h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: rgba(168, 164, 164, 1);
    }

    .center-footer-content ul,
    .right-footer-content ul {
        font-size: 0.8rem;
        color: rgba(168, 164, 164, 1);
    }

    .center-footer-content ul,
    .right-footer-content ul {
        list-style: none;
    }

    .center-footer-content li,
    .right-footer-content li {
        margin: 0.3rem 0;
    }

    .bottom-footer-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 16px 0;
    }

    .footer-copy {
        color: rgba(168, 164, 164, 1);
    }

    .social-icons > * {
        margin: 0 0.5rem;
        width: 1.5rem;
    }
</style>
