---
import GlowingBtn from "./GlowingBtn.astro";
---

<nav>
  <div class="mindplex__logo">
    <a href="/">
      <img src="/logo.svg" alt="Mindplex" width=" 292" />
    </a>
  </div>
  <div class="navbar_center">
    <div class="nav_links">
      <div>
        <a href="/#about">About</a>
        <a href="/#ourAi">Our Ai</a>
        <a href="/blog">Blog</a>
        <a href="/#team">team</a>
      </div>
      <div>
        <a href="https://docs.mindplex.ai" target="_blank" class=""
          >White paper</a
        >
        <a href="/#mindplexTokens">Mindplex Tokens</a>
      </div>
    </div>
  </div>
  <div class="navbar_right">
    <button id="openModal" class="navbar_right_contact rounded-full text-sm"
      >contact us</button
    >
    <GlowingBtn
      text="Join Mindplex"
      href="https://magazine.mindplex.ai/?type=register&source=landingPage"
      fontSize="12px"
      class:list={"margin-top:0"}
    />
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 14px 24px;
  }
  .external-link:where(.astro-5BLMO7YK)::after {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJoLTYgdy02IiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZT0iIzAwZmNmYyIgc3Ryb2tlLXdpZHRoPSIyIj4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Ik0xMCA2SDZhMiAyIDAgMDAtMiAydjEwYTIgMiAwIDAwMiAyaDEwYTIgMiAwIDAwMi0ydi00TTE0IDRoNm0wIDB2Nm0wLTZMMTAgMTQiIC8+Cjwvc3ZnPg==);
    display: inline-block;
    width: 20px;
    margin-left: 5px;
    cursor: pointer;
    position: absolute;
    margin-top: -7px;
  }
  .mindplex__logo img {
    width: 180px;
  }
  .navbar_center {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
  }

  .navbar_center a {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    min-width: fit-content;
  }

  .navbar_right {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    text-transform: uppercase;
  }

  .navbar_right a {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border-radius: 40px;
  }

  .navbar_right_contact {
    /* padding: 17px 34px; */
    min-width: 114px;
    padding: 10px 16px;
    outline: 2px solid #fff;
  }

  .navbar_right_join {
    padding: 10px 16px;
    background: #ff8b92;
    box-shadow: 0px 0px 29px #ff3f84;
    color: #343045;
  }

  .nav_links {
    display: flex;
  }

  @media screen and (max-width: 600px) {
    .nav_links {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      text-align: center;
    }

    .navbar_center a {
      font-size: 12px;
      padding: 20px 10px;
      text-align: end;
    }
    .mindplex__logo img {
      width: 270px;
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 800px) {
    nav {
      flex-direction: column;
    }
    .navbar_center a {
      font-size: 12px;
      padding: 20px 10px;
    }
    .mindplex__logo img {
      width: 270px;
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 801px) and (max-width: 1400px) {
    .navbar_center a {
      font-size: 16px;
      padding: 20px 15px;
    }
    .mindplex__logo img {
      width: 270px;
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 1401px) and (max-width: 1500px) {
    nav,
    section {
      margin: 66px 84px;
    }

    nav {
      flex-direction: row;
    }
    
    .nav_links a {
      margin: 0px 20px;
      font-size: 12px;
    }
    
    .mindplex__logo img {
      width: 300px;
    }

  }

  @media screen and (min-width: 1501px) {
    nav,
    section {
      margin: 66px 90px;
    }

    nav {
      flex-direction: row;
    }
    .nav_links a {
      margin: 0px 20px;
      font-size: 16px;
    }
    
    .mindplex__logo img {
      width: 300px;
    }
  }
</style>
