---
export interface Props {
  gap?: string;
  width?: string;
}

// const { gap = "1rem", width = "402px" } = Astro.props;
---

<div class="">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <slot />
  </div>
</div>
