---
export interface Props {
  gap?: string;
  width?: string;
}

const { gap = "1rem", width = "402px" } = Astro.props;
---
<div class="swiper mySwiper">
  <div class="card-grid swiper-wrapper">
    <slot />
  </div>
  <div class="swiper-button-next">
    <img src="/icons/right.svg" alt="line" />
  </div>
  <div class="swiper-button-prev"><img src="/icons/left.svg" alt="line" /></div>
</div>

<style define:vars={{ gap, width }}>
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--width), 1fr));
    gap: var(--gap);
  }

  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
  }

  .swiper-wrapper {
    display: grid !important;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--width), 1fr)
    ) !important;
    gap: var(--gap) !important;
  }

  @media screen and (max-width: 768px) {
    .mySwiper {
      gap: 0;
      width: 100%;
      height: 100%;
      margin: 20px auto;
    }

    .swiper-wrapper {
      gap: 0 !important;
      width: 90%;
      display: flex !important;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
      visibility: visible;

      background: #ff8b92;
      box-shadow: 0px 0px 2px 10px rgba(255, 63, 132, 0.32);
      border-radius: 40px;

      padding: 20px 20px !important;
      text-align: center;
      color: #343045 !important;
      width: 38px !important;
      height: 38px !important;
      font-weight: 600;
      font-size: 32px !important;

      line-height: 28px;
      position: relative;

      display: inline-block;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.5s ease;
    }
    .swiper-button-next {
      margin-right: -10px;
    }

    .swiper-button-prev {
      margin-left: -10px;
    }

    .swiper-button-next:before,
    .swiper-button-prev:before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 63, 132, 0.32);
      opacity: 0;
      transition: all 0.3s ease;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
      background-color: #eb737b;
      color: #fff !important ;
    }

    .swiper-button-next,
    .swiper-button-prev:hover:before {
      left: 100%;
      opacity: 1;
    }
  }
</style>

<script is:inline src="../../node_modules/swiper/swiper-bundle.min.js"></script>

<script is:inline>
function activateJavaScriptForScreenSize() {
  new Swiper(".mySwiper", {
    autoHeight: true,

    slidesPerView: 1,
    centeredSlides: true,

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
}

function checkScreenSize() {
  if (window.matchMedia("(max-width: 768px)").matches) {
    activateJavaScriptForScreenSize();
  }
}

window.addEventListener("resize", () => {
  checkScreenSize();
});

checkScreenSize();
</script>

